/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* position: absolute; */
    font-family: sans-serif, "Roboto";
}
.link1:hover{
    cursor: pointer;
    text-decoration: underline;
}
.border{
    border: 2px solid black;
}
.mouse{
    cursor: pointer;
}
nav {
    padding: 10px 1px;
    background-color: rgb(20, 119, 209);
    position: fixed;
    width: 100%;
    z-index: 100000;
}

.nav {
    background-color: rgb(20, 119, 209);
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    z-index: 100;

}

nav .logo img {

    width: 184px;
}

.middle ul li:hover {
    background-color: rgb(15, 89, 157);
}

.middle ul {
    display: flex;
    list-style: none;
    gap: 6px;
}

.middle ul li {
    border: 0.5px solid rgb(20, 119, 209);
    border-radius: 40px;
    padding: 5px 8px;
    cursor: pointer;

}

/* .right img{
    width:30px;
    height: 30px;
} */
.right ul {
    display: flex;
    list-style: none;
    gap: 6px;
}



.right li {
    border: 0.6px solid white;
    background-color: transparent;
    padding: 3px 10px;
    border-radius: 40px;
    height: 25px;
    width: 62px;
    cursor: pointer;
    white-space: nowrap;
}

#sign {
    height: 22px;
    width: 62px;
    padding: 2px 6px;
    background-color: white;
    color: rgb(20, 119, 209);

    white-space: nowrap;

}

#search-icon:hover {
    filter: drop-shadow(1px 1px 20px rgb(134, 25, 25));

}

#search-icon {
    border: none;
    padding: 2px 3px 2px 28px;
}

.empty {
    height: 70px;
    width: 100%;
}

.bg-an .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.bg-an {
    padding: 0;
    margin: 0;

    position: relative;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.text-on-bg-vid {
    font-family: artifakt-legend, sans-serif;
    font-weight: 800;
    color: #fff;
    position: absolute;
    font-size: 48px;
    margin-top: 100px;
    margin-left: 100px;

    text-shadow: 0px 0px 10px rgba(100, 110, 128, .2);
}

.card-on-vid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    display: flex;
}

.card-card-on-vid {
    translate: 0 -50px;
    height: 500px;
    width: 500px;

}

.poster-img {
    display: flex;
    overflow: hidden;
    border: 0.01px solid rgb(97, 96, 96);
    border-radius: 8px;
    height: 280px;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    grid-area: colm;

}

.poster-img img {
    z-index: -10000000;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.poster-img-play-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(20, 119, 209);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    font-size: 12px;
    font-weight: 800;
    height: 30px;
    width: 100px;
    background-color: rgb(20, 119, 209);
    grid-area: colm;
}

.poster-img-play-btn:hover {
    background-color: rgb(51, 149, 241);
    cursor: pointer;

}

.btn-poster-img {
    display: grid;
    grid-template-areas: "colm";
    justify-items: center;
    align-items: center;
    cursor: pointer;

}

.paras-after-btn-poster-img {
    margin-top: 15px;
}

.para {
    padding: 15px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

}

.lower-btn {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* gap:20px; */
}

.btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    display: inline-block;
    border: 0.6px solid white;
    background-color: rgb(20, 119, 209);
    padding: 3px 10px;
    border-radius: 40px;
    height: 28px;
    width: 100px;
    cursor: pointer;
    white-space: nowrap;
    gap: 2px;
}

.st-tink-btn {
    width: auto;
    margin-right: 8px;
}

.section3 {
    display: flex;
    justify-content: center;
    height: 362.66px;
    width: 100%;


}

.sec3-innr-div {
    width: 250px;
}

.sec3-div {
    height: 362.66px;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.sec3-innr-div-para {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.light-para {
    color: rgb(100, 110, 128);
    font-weight: 400;
    line-height: 24px;
}

.link {
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #1477D1;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #1477D1;
}

.flex {
    display: flex;

    justify-content: center;

}

.banner {
    display: flex;
    justify-content: space-around;
    height: 234px;
    width: 100%;
    background-image: url(imgs/banner_million.svg);
}

.banner-para-div {
    display: flex;
    align-items: center;
    height: 234px;

    width: 38%;
}

.banner p {
    font-size: 28px;
    line-height: 38px;
    color: #fff;
    font-weight: 800;
}

.section4 {
    height: 1100px;
    width: 100%;

}

.sec4-f-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.sec4-f-div-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 44%;
    height: 100%;
}

.sec4-f-div-div-para {
    display: block;
}

.s4ddp1 {
    color: #0044C9;
    font-size: 26px;
    line-height: 38px;
    font-weight: 800;
    font-family: sans-serif;
}

.grid {
    display: flex;
    justify-content: center;
}

.grid-sec-div {
    width: 70%;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 300px 300px 300px;
    gap: 2px;
    justify-content: space-around;

}

.item-p1 {
    color: #282727;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.item-p2 {
    padding: 1px 0 10px 0;
    color: #1478D1;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
}

.item-p3 {
    font-size: 13px;
    font-weight: 500px;
    padding-bottom: 10px;
}

.item-p4 {
    font-weight: 500;
    font-size: 11px;
    /* padding-bottom: 20px ; */
}

.item2-p2 {
    color: #028837;
}

.item1 {
    grid-row: 1/2;
    grid-column: 1/2;

}

.item2-p4 {
    background-color: #028837;
}

.item3-p2 {
    color: #7603D0;
}

.item3-p4 {
    background-color: #7603D0;
}

.poster {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.item2 {
    grid-row: 2/3;
    grid-column: 1/2;

}

.item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.item4 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.item5 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.item6 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.section5 {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    height: 400.56px;
    width: 100%;

}

.sec5-div {
    height: 400.56px;
    width: 80%;

    padding: 5.67%;
    display: flex;
    justify-content: space-between;
}

.sec5-div-div {
    height: 100%;
    width: 45%;

    padding: 0;
}

.s5dd1 {
    background-image: url(imgs/educational-standards.webp);
}

.s5ddd1 {
    margin: 8px 0;
    display: flex;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    padding: 0;
    justify-content: start;

}

.sec5-para {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;

}

.sec5-logos-div {
    display: flex;

}

.sec5-logos-div {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    height: 45px;
    width: 100%;
}

.logos img {
    object-fit: contain;
    height: 60px;
    width: 200px;
}

.sec5-right-div-btn {
    margin-top: 20px;
    font-size: 13px;
}

.section6 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 800px;
    width: 100%;
}

.sec6-div0 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.sec6-div1 {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;

    width: 40%;
    height: 142px;
}

.s6d1p1 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    color: #D33F11;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.s6d1p2 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    /* width: 80%; */
}

.sec6-div2 {
    justify-content: center;
    /* align-content: center; */
    margin-top: 30px;
    gap: 30px;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 260px 260px;
}

.s6-item1 {
    overflow: hidden;
    border: 0.5px solid rgb(224, 221, 221);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.s6-item1-img img {
    height: 12em;
    width: 100%;
}

.s6-item1-para1 {
    margin-top: 8px;
    margin-left: 5px;
    color: rgb(40, 39, 39);
    display: flex;
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
}

.s6-item1-para2 {
    /* margin-top: 8px; */
    color: rgb(51, 51, 51);
    margin-left: 5px;
    display: flex;
    font-size: 9px;
    line-height: 24px;
    font-weight: 500;
}

.s6-ft {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;

}

.s6-ft-btn {
    /* width: 100%; */
    margin: 0;
    background-color: #D33F11;
}

.ban-innv {
    height: 220px;
    width: 100%;
    background-image: url(imgs/banner_innovator.svg);
    display: flex;
    justify-content: center;
}

.ban-innv-div {
    height: 100%;
    width: 60%;
}

.ban-innv-p1 {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 26px;
    line-height: 38px;
    font-weight: 800;
    color: white;
    height: 74px;
}
.p2{
    margin-top: 10px;
}
.ban-innv-p2{
    color:white;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    display: flex;
    width: 100%;
    justify-content: center;
}

.ban-innv-btn{
    height:auto;
    margin-top: 30px;

}
.btn2{
    display: flex;
    align-items: center;
    background-color: white;
    color: #104cd8;
    font-weight: 600;
    font-size: 13px;
    height: 24px;
}

.section7{
    /* border: 2px solid black; */
  display: flex;
  justify-content: center ;
    height: 250px;
    width: 100%;
    margin-top: 60px;

}

.sec7-div{
    display: grid;
    height:100%;
    width: 70%;
    gap:20px;
    grid-template-columns: 240px auto auto auto auto;
    grid-template-rows: 214px;

}
.sec7-div-div{
    height:214px;
    width: auto;
}

.sec7-item1{
grid:1/2;
}
.sec7-item1-p1{
font-size: 13px;
line-height: 20px;
font-weight: 400;

}
.sec7-item1-p2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 560;
    line-height: 24px;
    color:rgb(79, 77, 77);
}
.social-media-btns{
    margin-top: 16px;
}
.on-hover{
    transition: fill 0.3s ease;
}
.on-hover:hover {
    filter: brightness(0) saturate(100%) ;
}
.sec7-item2-p1{
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin:0 0 6px 0;
    color:rgb(62, 62, 62);
}
.autodesk{
    margin-bottom:10px ;
}
.lang-selct{
    padding: 4px;
    border: 2px solid #CACFD6;
border-radius: 80px;
}
.ch-pol{
    display: flex;
    color:#434344;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 17px;
}

.kid-s{
    margin-top: 20px;
    height: 40px;
    width: 100px;
}

.freeusetink{
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15%;
   
}
.footer-cont{
    display: flex;
    align-items: center;
    height: 80px;
}
.footer{
    display: flex;
 
    width: 70%;
    gap:10px;
    margin-left: 15%;
}
ft-text{
    font-size:14px;
}
.ft-sep{
    
    color:#3e3e3f;
}
hr {
    margin: 0 40px;
    border-color: #ddd;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
}

.display{
    display: inline-block;
}
